### Data engineer Test ###

In [21]:
# función para la conexión a la base de datos postgres
def  postgres_connection():
    conn_string = 'postgresql://postgres:Jixrpl28@34.136.154.29/postgres'
  
    db = create_engine(conn_string)
    conn = db.connect()
    conn_psy = psycopg2.connect(
    database="postgres",
    user='postgres', 
    password='Jixrpl28', 
    host='34.136.154.29', 
    port= '5432'
    )    
    return conn, conn_psy

In [77]:
# Importe de librerías
import gspread
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import json
from google.cloud import bigquery
from google.oauth2 import service_account

In [2]:
# Definición de variables
json_key = 'top-opus-371913-3159a33cc246.json'

In [3]:
# Conexión a google sheet
gc = gspread.service_account(filename=json_key)
data = gc.open_by_url('https://docs.google.com/spreadsheets/d/1yGPAiAhRz36LrVHXg3MHB7UkIjPtDDiZFJUgvP5_tY0/edit#gid=471493750')

In [4]:
# Obteniendo datos de cada una de las hojas del google sheet
user_data = data.worksheet("main_user_info")
user_extra_info = data.worksheet("user_extra_info")

In [5]:
type(user_data)

gspread.worksheet.Worksheet

In [9]:
# Creando dataframes con la información de cada una de las hojas 
user_df = pd.DataFrame.from_records(user_data.get_all_records())
user_extra_df =  pd.DataFrame.from_records(user_extra_info.get_all_records())

In [22]:
# Estableciendo conexión con la base de datos Postgres
pg_conn, pg_conn_psy = postgres_connection()
pg_conn_psy.autocommit = True
cursor = pg_conn_psy.cursor()

In [25]:
user_df = user_df.reset_index(drop=True)
user_extra_df  = user_extra_df.reset_index(drop=True)

In [38]:
user_extra_df.columns

Index(['user_id', 'vacancy_area_id', 'location_change_city_ids',
       'available_time_week_id', 'vacancy_area_custom', 'change_city',
       'years_experience', 'employment_status'],
      dtype='object')

In [39]:
# Ingesta de datos  a la tabla main_users 
user_df.to_sql('main_users', pg_conn, if_exists= 'replace')

500

In [40]:
# Ingesta de datos a la tabla user_extra
user_extra_df.to_sql('users_extra', pg_conn, if_exists= 'replace')

500

In [27]:
### Recuperando datos desde las tablas en Postgres ###

In [28]:
# Recuperando datos de la tabla main_users
m_u ='''select * from  main_users;'''
cursor.execute(m_u)
bd_users_df = pd.DataFrame.from_records(cursor.fetchall())

u_e ='''select * from  users_extra;'''
cursor.execute(u_e)
bd_users_extra_df = pd.DataFrame.from_records(cursor.fetchall())

pg_conn_psy.commit()
pg_conn_psy.close()

In [31]:
# Eliminando primera columna de los dataframes
bd_users_df.drop(columns=bd_users_df.columns[0], axis=1, inplace=True)
bd_users_extra_df.drop(columns=bd_users_extra_df.columns[0], axis=1, inplace=True)

In [32]:
# Definiendo el nombre de las columnas
bd_users_df.columns = ['user_id', 'first_name', 'last_name', 'phone', 'load_date']

In [41]:
bd_users_extra_df.columns = ['user_id', 'vacancy_area_id', 'location_change_city_ids' , 'available_time_week_id', 'vacancy_area_custom', 'change_city',  'years_experience','employment_status']

In [43]:
### Transformaciones ###

In [44]:
## user_extra_info Seleccionar SOLO aquellas filas que tienen mas de 1 item  en location_change_city_ids 

# Funcion para filtrar los datos de location_change_city_ids que tienen más de un Item
def get_items(x):
  
  result = 0
  location = json.loads(x)
  if location.get('location_change_city_ids') is not None:
    if len(location['location_change_city_ids'].get('list')) > 1:
               result = 1
  
  return result

In [47]:
## Aplicando la función anterior para marcar con 1 las filas que tienen más de 1 item en location_change_city_ids
bd_users_extra_df['get_items'] = bd_users_extra_df['location_change_city_ids'].apply(lambda x: get_items(x))

In [48]:
# Filtrar los registros que tienen más de un item
bd_users_extra_df = bd_users_extra_df[bd_users_extra_df['get_items'] == 1]

In [50]:
# Eliminando todas aquellas que tengan vacancy_area_id menor a 2, EXCLUYENDO aquellas donde  employment_status = 0
bd_users_extra_df  = bd_users_extra_df [(bd_users_extra_df ['vacancy_area_id'].apply(pd.to_numeric) < 2) & (bd_users_extra_df['employment_status'] == 0)]

13

In [51]:
# Expandir la columna years_experience a las columnas  month  y years. Tener en cuenta que si los meses son 12 agregar un año a years y dejar month en 0 

# Funciones que permiten extraer los años y los meses y aplicar las condiciones especificadas.

def years_exp(x):
  years = json.loads(x.replace("\'", "\"")).get("years")
  months = json.loads(x.replace("\'", "\"")).get("months")
  if   months == 12:
       years = years + 1
  return years

def months_exp(x):
  months = json.loads(x.replace("\'", "\"")).get("months")
  if   months == 12:
       months = 0
  return months

In [53]:
# Obteniendo años
bd_users_extra_df['years'] = bd_users_extra_df['years_experience'].apply(lambda x:  years_exp(x))

In [54]:
# Obteniendo meses
bd_users_extra_df['months'] = bd_users_extra_df['years_experience'].apply(lambda x: months_exp(x))

In [68]:
# Obteniendo dataframe final, eliminando las columnas years_experience y get_items
bd_users_extra_df.drop(['years_experience', 'get_items'] , axis=1, inplace =True)

In [ ]:
### Transformaciones para la tabla main_user

In [57]:
# El campo last_name esta en Mayusculas, quitarselas y dejar unicamente la primera letra capitalizada
bd_users_df['last_name'] = bd_users_df['last_name'].apply(lambda x: x.capitalize())

In [59]:
# Cambiar la fecha de la columna load_date a formato fecha sin timestamp
bd_users_df["load_date"] = pd.to_datetime(bd_users_df["load_date"])
bd_users_df["load_date"] = bd_users_df["load_date"].apply(lambda x: x.date())

In [ ]:
# Cruzar el resultado de las transformaciones a user_extra_info con la tabla main_user_info

In [69]:
users_final = pd.merge(bd_users_df, bd_users_extra_df , how="left", on=["user_id", "user_id"])

In [70]:
# Reemplazando vacíos por None
users_final = users_final.replace('',None,regex = True)

In [ ]:
# Ingesta de datos en BigQuery

In [84]:
users_final['vacancy_area_id']= pd.to_numeric(users_final['vacancy_area_id'])
users_final['load_date']= pd.to_datetime(users_final['load_date'])
users_final['available_time_week_id']= pd.to_numeric(users_final['available_time_week_id'])

In [78]:
credentials = service_account.Credentials.from_service_account_file(
    json_key,
    scopes=["https://www.googleapis.com/auth/cloud-platform"],
)

In [79]:
client = bigquery.Client(
    credentials=credentials,
    project=credentials.project_id,
)

In [80]:
users  = client.dataset('users')

In [82]:
# Especificando la tabla de redshift donde se cargaran los datos
hunty_table = users.table('a_un_paso_de_trabajar_en_hunty')

In [85]:
# Carga de datos a redshift
client.load_table_from_dataframe(users_final, hunty_table).result()

LoadJob<project=top-opus-371913, location=US, id=f9e4da4d-dc4d-4b9e-b5b3-8bd083d3ce69>